*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root  {
    --hue-neutral: 200;
    --hue-wrong:  0;
    --hue-correct: 145;
}



body  {
    
    background: rgb(182, 168, 184);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    }

    .quiz_box  {
        width: 600px;
        max-width: 80%;
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0 0 10px 2px;
    }

    .btn-grid  {
        display: grid;
        gap: 10px;
        margin: 20px 0;
    }

    .btn  {
        --hue: var(--hue-neutral);
        border: 1px solid hsl(var(--hue), 100%, 30%);
        background-color: hsl(var(--hue), 100%, 50%);
        font-size: 20px;
        font-weight: 500;
        color: rgb(182, 168, 184);
        padding: 15px 30px;
        border-radius: 5px;
        background: #fff;
        cursor: pointer;
    }

    .btn:hover  {
        border-color: black;
        color: #f5f8fa;
        background: rgb(182, 168, 184);
        border-color: rgb(92, 69, 92);
    }

    .btn.correct  {
        color: green;
        color: #5b7894;
        background: #d4edda;
        border: 1px solid #c3e6cb;
    }

    .btn.wrong  {
        color: red;
        color: #7c383f;
        background: #f8d7da;
        border: 1px solid #f5c6cb;
    }

    .start-btn, .next-btn  {
        font-size: 1.5rem;
        font-weight: bold;
        padding: 10px 20px
    }

    .controls  {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .hidden  {
        display: none;
    }

    .quiz_box header{
        position: relative;
        z-index: 99;
        height: 70px;
        padding: 0 30px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px 5px 0 0;
        box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
    }

    .container {
        position:  absolute;
        top: 50%;
        left: 50%;

    }

    .container  {
        background: #fff;
        width: 450px;
        padding: 25px 30px;
        border-radius: 5px;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
    
    }

    /* .container .activeResult{
        opacity: 1;
        z-index: 5;
        pointer-events: auto;
        transform: translate(-50%, -50%); */ */
     */




/* .btn
.quiz_box 
.result-box {
    position:  absolute;
    top: 50%;
    left: 50%;
    
    
}

.quiz_box.activeQuiz,
.result-box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    /* transform: translate(-50%, -50%); */ */


/* .btn {
    font-size: 20px;
    font-weight: 500;
    color: rgb(182, 168, 184);
    padding: 15px 30px;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

.quiz_box{
    
    width: 550px;
    background: #fff;
    border-radius: 5px;

    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header{
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background:rgb(182, 168, 184);
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0 8px;
    color:#d4edda;


}

.quiz_box header .timer .time-text{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer-sec{
    font-size: 18px;
    font-weight: 500;
    background: #343a40;
    height: 30px;
    width: 45px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #343a40;
}

section  {
    padding: 25px 30px 20px 30px;
    background: #fff;
}

section .que-text{
    font-size: 25px;
    font-weight: 600;
}

section .option_list{
    padding: 20px 0;
    display: block;
}

section .option_list .option{
    background: #fff;
    border: 1px solid #343a40;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3 ease;
}



section .option_list .option:hover{
    color: #f5f8fa;
    background: rgb(182, 168, 184);
    border-color: rgb(92, 69, 92);
}

section .option_list .option:last-child  {
    margin-bottom: 0px;
}

section .option_list .option.correct{
    color: #5b7894;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

section .option_list .option.incorrect{
    color: #7c383f;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

section .option_list .option.disabled{
    pointer-events: none;
}

section .option_list .option .icon  {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    transition: all 0.3 ease;
}

.option_list .option .icon.tick {
    color: darkgreen;
    border-color: darkgreen;
    background: #d4edda;
}

.option_list .option .icon.cross {
    color: darkred;
    border-color: darkred;
    background: rgb(143, 112, 112);
}

footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child{
    padding-left: 0px;
}

footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    background: #0263ca;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result-box  {
    background: #fff;
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;

}

.result-box .icon{
    font-size: 100px;
    color: rgb(143, 112, 112);
    margin-bottom: 10px;
}

.result-box .complete-test  {
    font-size: 20px;
    font-weight: 500;
}

.result-box .score-test span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;

}

.score-test span {
    font-weight: 500;
    padding: 0 4px;
}

.result-box .buttons  {
    display: flex;
    margin: 20px o;

}

.result-box .buttons button{
    margin: 0 10px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 450;
    border-radius: 5px;
    border: 1px solid rgb(143, 112, 112);
    
    }

    .buttons button.restart{
        color: #fff;
        background: #007bff;
    }
    
    .buttons button.restart:hover{
        background: #0263ca;
    }
    
    .buttons button.quit{
        color: #007bff;
        background: #fff;
    }
    
    .buttons button.quit:hover{
        color: #fff;
        background: #007bff;
    } */ */




    